:host {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  flex-direction: column;

  color: var(--md-sys-color-on-background);
}

a {
  font-family: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  color: var(--md-sys-color-on-background);
  border-radius: var(--md-sys-shape-corner-medium);
}

custom-selector a {
  padding: 12px;
}

custom-selector {
  pointer-events: auto;
}

a img {
  width: 72px;
}

span[slot='drawer-content'] {
  display: flex;
  flex-direction: column;
  padding: 12px 24px;
}

span[slot='drawer-content'] img {
  box-sizing: border-box;
  padding: 12px 24px;
}

footer a {
  text-decoration: none;
  color: #fff;
}

section {
  flex-direction: column;
  display: flex;
  align-items: center;
}

.typer {
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
}

.container {
  max-width: 1200px;
  width: 100%;
}

flex-row {
  align-items: center;
}

span[slot='drawer-content'] {
  height: 100%;
}

main[slot='content'] {
  overflow-y: auto;
  width: 100%;
  display: flex;
  height: 100%;
  flex-direction: column;
}

:host([narrow]) .wa-mobile-button {
  position: fixed;
  bottom: 16px;
  left: 16px;
  z-index: 1000;
  background: rgb(36, 211, 102);
}

.wa-button {
  padding: 12px;
  box-sizing: border-box;
  max-height: 48px;
  background: #24d366;
  color: #fff;
  cursor: pointer;
  pointer-events: auto;
}
